
img{
    
    width: 200px;
    height: 100px;
    padding: 100em 100em;
}
form{
    z-index: 15;
    position: relative;
    background: #FFFFFF;
    width: 600px;
    border-radius: 4px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    margin: 100px auto 10px;
    overflow: hidden;
}

.form-group{
    padding-inline: 0 20px;
    margin : 100px auto 10px;
}
.container{
    text-align: center;
}