    {% extends 'base.html' %}
    {% block contents %}
    {% load staticfiles %}
<link rel="stylesheet" type="text/css" href="login.css"/>
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<div class="container">
    <br>
    <img src="{% static 'mainlogo.PNG' %}" alt="">
    <br>
    <form method="POST" action="{%url 'login' %}">
        {% csrf_token %}
        <div class="form-group">
        <br>
        <h2><i class="fa fa-user"></i> Username </h2><input name="username" class="username" type="text" placeholder="아이디를 입력하세요">
        <br>
        <br>
        <h2><i class="fa fa-lock"></i> Password </h2><input name="password" class="password" type="password" placeholder="비밀번호를 입력하세요"> 
        <br>
        <br>
        <input class="btn btn-primary" type="submit" value="Login">
        </div>
      </form>
</div> 
<style>
.form-group{
    padding-inline: 0 20px;
  }
.container{
    text-align: center;
}
.input-group {
    margin-top: 1em;
    margin-bottom: 1em;
} 
h2{
  display: inline-block;
  color: gray;


</style>


{% endblock %}