    {% extends 'base.html' %}
    {% block contents %}
    {% load staticfiles %}
    {% load socialaccount %}
    {% providers_media_js %}
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<br>
<br>
<div class="container1">
    <br>
    <img src="{% static 'mainlogo2.PNG' %}" alt="">
    <br>
    <form method="POST" action="{%url 'login' %}">
        {% csrf_token %}
        <div class="form-group">
        <br>
        <h2><i class="fa fa-user"></i> Username &nbsp;</h2><input name="username" class="username" type="text" placeholder="아이디를 입력하세요">
        <br>
        <br>
        <h2><i class="fa fa-lock"></i> Password &nbsp;</h2><input name="password" class="password" type="password" placeholder="비밀번호를 입력하세요"> 
        <br>
        <br>
        <button class="google"><a href="{% provider_login_url 'google' %}"><img src="{% static 'google.png' %}" class=googleimg alt=""><h5>Google 로그인</h5></a></button>
        
        <button class="facebook"><a href="{% provider_login_url 'facebook' %}"><img src="{% static 'facebook.png' %}" class=facebookimg alt=""><h5>Facebook 로그인</h5></a></button>
        <br>
        <br>
        <input class="btn btn-primary" type="submit" value="Login"><a href="{% url 'signup' %}"><input class="btn btn-primary"  value= "Signup"></a>
        </div>
      </form>
</div> 
<style>
.form-group{
    padding-inline: 0 20px;
  }
.container1{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    width: 500px; height: 600px;
    margin: 0 35%;
   
}
body{
  background-image: url("/static/background.jpg");
  background: cover;
}
h5{
  color: white;
  display:inline-block;
}
h2{
  display: inline-block;
  color: white;
  width: 200px;
  height: 30px;
}
input.username{
  width: 180px;
  margin: 0 10px;

}
input.password{
  width: 180px;
  margin: 0 10px;

}
input.btn.btn-primary{
  width: 100px;
  background-color:#A7D8BC;
  border: 0;
  outline: 0;
  margin: 0 5%;
}
img{
  color: white;
}
img.googleimg{
  width:40px;
  height:40px;
 }

img.facebookimg{
  width:40px;
  height:40px;
 }
button.google{
  text-align:center;
  background-color:green;
  width: 300px;
  height: 40px;
  border: 0;
  outline:0;
  border-radius: 0.45em;
  margin: 2% 0;
  }

button.facebook{
  text-align:center;
  background-color : navy;
  width: 300px;
  height: 40px;
  border: 0;
  outline:0;
  border-radius: 0.45em;

}

</style>


{% endblock %}
